<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <%= simple_form_for [cocktail, rating] do |f| %>
        <div id="rateYo">
        <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>

        </div>
        <%= f.submit "Send your review" %>
      <% end %>
    </div>
  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
<script>
  $(function () {

  $("#rateYo").rateYo({
    starWidth: "40px"
  });

});
</script>


